@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<table border="1" class="table table-striped table-bordered table-hover">
    <colgroup>
        <col />
        <col width="120" />
        <col width="200" />
        <col width="40" />
    </colgroup>
    <thead>
        <tr>
            <th>Nombres Completo</th>
            <th>Tipo</th>
            <th>Especialidad</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tecnico in ViewBag.tecnicos)
        {
            <tr>
                <td>@tecnico.nombres @tecnico.apellidos</td>
                <td>@(tecnico.tipo == "I" ? "OPERARIO" : "CONTRATISTA")</td>
                <td>@tecnico.especialidad</td>
                <td><label><input type="checkbox" name="tecnico" value="@tecnico.codigo" /></label></td>
            </tr>
        }
    </tbody>
</table>
