@model GMLWeb.Models.Equipo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_produccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_produccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Local.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Local.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
