@model GMLWeb.Models.CronogramaDetalle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CronogramaDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.semana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.semana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actividad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actividad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asignada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asignada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cronograma.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cronograma.codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
