@model GMLWeb.Models.OrdenServicio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OrdenServicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipo.serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solicitud.numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solicitud.numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnico.dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnico.dni)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.codigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
